{% extends 'base.html' %}
{% block content %}

<div class="site-navbar py-2" style="background: lightgray">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'home' %}" class="js-logo-clone">DBS</a>
            </div>
          </div>

            <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li class="active"><a href="{% url 'all_equipments' %}">Database</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
              </ul>
            </nav>
            </div>
            <div class="icons">
                <lable>

                </lable>
          </div>
        </div>
      </div>
    </div>

<!-- main page-->

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="{% url 'home' %}" style="color: #1d5987">Home</a> <span class="mx-2 mb-0">/</span>
          <a href="{% url 'all_equipments' %}" style="color: #1d5987">Database</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Add Equipment</strong>
          </div>
        </div>
      </div>
    </div>

<!--form-->
<div class="site-section text-black " >
  <div class="container">

      <h class="h1 mb-5 text-black"><b>Add Equipment</b></h>
      <br>
      <p class=" text-black">Fields with ' * ' are mandatory</p>

<form  method="POST" action="{% url 'add_equipments' %}" style="border: 2px solid lightgray; padding: 50px ;background: lightgray"
       enctype="multipart/form-data" >

    {% csrf_token %}

<div class="form-group row">
<label for="colFormLabel" class="col-sm-3 text_form">Code</label>
    <input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="code" >
        <label for="colFormLabel" class="col-sm-3 text_form" style="color: darkred">*</label>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-3 text_form">Name</label>
    <input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="equipment_name" >
    <label for="colFormLabel" class="col-sm-3 text_form" style="color: darkred">*</label>
</div>

<div class="form-group row">
<label class="col-sm-3 text_form" for="colFormLabel">Speciality</label>
<select class="form-control col-sm-3 select" id="inlineFormCustomSelectPref" name="speciality" >
    <option  selected>Choose Speciality...</option>
    <option value="Cardiology">Cardiology</option>
    <option value="Obstetrics/Gynecology">Obstetrics/Gynecology</option>
    <option value="NICU">NICU</option>
    <option value="ENT">ENT</option>
    <option value="Urology">Urology</option>
    <option value="General Surgery">General Surgery</option>
    <option value="General Hospital">General Hospital</option>
    <option value="Clinical Laboratory">Clinical Laboratory</option>
    <option value="Ophthalmology">Ophthalmology</option>
    <option value="Physical Medicine">Physical Medicine</option>
    <option value="Radiology">Radiology</option>
    <option value="Gastroenterology">Gastroenterology</option>
    <option value="Emergency">Emergency</option>
    <option value="Anesthesiology">Anesthesiology</option>
    <option value="Pulmonary Medicine">Pulmonary Medicine</option>
    <option value="ICU1">ICU</option>
    <option value="Pathology">Pathology</option>
    <option value="Neurology3">Neurology</option>
</select>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-3 text_form">Purpose</label>
<textarea  class="form-control col-sm-3 input_form" id="colFormLabel" rows="5"  wrap="hard" name="purpose" ></textarea>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-3 text_form">Technology Level</label>
    <input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="technology_level"  >
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-3 text_form ">Facility Level</label>
    <input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="facility_level" >
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-3 text_form">Addition Date</label>
    <input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="addition_date" >
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-3 text_form">Modification Date</label>
    <input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="modification_date" >
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-3 text_form">Report Version</label>
    <input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="report_version" value="1" >
</div>

<div class="form-group row" >
    <label for="colFormLabel" class="col-sm-3 text_form">Picture</label>
    <input type="file" class="col-sm-3" id="exampleFormControlFile1" name="picture" >
    <label for="colFormLabel" class="col-sm-3 text_form" style="color: darkred">*</label>
</div>
<hr style="border-width: 2px"/>
<p class="text_form">General Specs</p>
<div class="input_fields_wrap_general">
    <div class="form-group row col-md-12">
        <input class="col-sm-3 input_form" id="exampleFormControlFile1" name="gene_name"  placeholder="Name">
        <input class="col-sm-3 input_form" id="exampleFormControlFile1" name="gene_value"  placeholder="Value">
    </div>
</div>
<a href="#" class="add_field_button_general " style="color: black"><u>Add More Specs</u></a>
<hr style="border-width: 2px"/>

<p class="text_form">Technical Specs</p>
<div class="input_fields_wrap_technical">
    <div class="form-group row col-md-12">
        <input class="col-sm-3 input_form" id="exampleFormControlFile1" name="tech_name"  placeholder="Name">
        <input  class="col-sm-3 input_form" id="exampleFormControlFile1" name="tech_value"  placeholder="Value">
    </div>
</div>
<a href="#" class="add_field_button_technical" style="color: black"><u>Add More Specs</u></a>
<br/><br/>


<div class="form-group row ">
<button  type="submit" class="btn btn-black btn-lg col-sm-2"><i class="fas fa-database"></i>Add</button>
</div>
</form>
  </div>
      </div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
// function for general specs
<!-- function for general specs -->
	$(document).ready(function() {
    var max_fields      = 100; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap_general"); //Fields wrapper
    var add_button      = $(".add_field_button_general"); //Add button ID
    var x = 1; //initlal text box count
   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
		     //text box increment
            $(wrapper).append(
                '<div class="form-group row col-md-12"><input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="gene_name" placeholder="Name">' +
                '<input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="gene_value" placeholder="Value">' +
                '<label href="#" class="remove_field_general col-sm-3 align-middle"\n' +
                '                   style="color: black; text-decoration: underline; display: block; line-height: 40px">Remove</label></div>');
            x++;
	  }
    });
    $(wrapper).on("click",".remove_field_general", function(e){ //user click on remove text
		e.preventDefault();
		$(this).parent('div').remove();
		x--;
    })
});

<!-- function for technical specs -->
$(document).ready(function() {
    var max_fields      = 100; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap_technical"); //Fields wrapper
    var add_button      = $(".add_field_button_technical"); //Add button ID
    var x = 1; //initlal text box count
   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
		     //text box increment
            $(wrapper).append(
                '<div class="form-group row col-md-12"><input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="tech_name" placeholder="Name">' +
                '<input type="text" class="col-sm-3 input_form" id="exampleFormControlFile1" name="tech_value" placeholder="Value">' +
                '<label href="#" class="remove_field_technical col-sm-3 align-middle"\n' +
                '                   style="color: black; text-decoration: underline; display: block; line-height: 40px">Remove</label></div>');
            x++;
	  }
    });
    $(wrapper).on("click",".remove_field_technical", function(e){ //user click on remove text
		e.preventDefault();
		$(this).parent('div').remove();
		x--;
    })
});
</script>


{% endblock %}