<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Add Equipment</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>
<form  method="POST" class="" autocomplete="on" enctype="multipart/form-data">
    {% csrf_token %}
<h1>Add Equipment</h1>
<br/>
<hr/>
<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Code</label>
    <input type="text" class="col-sm-3" id="exampleFormControlFile1" name="code" >
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Name</label>
    <input type="text" class="col-sm-3" id="exampleFormControlFile1" name="equipment_name" >
</div>

<div class="form-group row">
<label class="col-sm-2" for="colFormLabel">Speciality</label>
<select class="form-control col-sm-3" id="inlineFormCustomSelectPref" name="speciality">
    <option selected>Choose Speciality...</option>
    <option value="Cardiology">Cardiology</option>
    <option value="Obstetrics/Gynecology">Obstetrics/Gynecology</option>
    <option value="NICU">NICU</option>
    <option value="ENT">ENT</option>
    <option value="Urology">Urology</option>
    <option value="General Surgery">General Surgery</option>
    <option value="General Hospital">General Hospital</option>
    <option value="Clinical Laboratory">Clinical Laboratory</option>
    <option value="Ophthalmology">Ophthalmology</option>
    <option value="Physical Medicine">Physical Medicine</option>
    <option value="Radiology">Radiology</option>
    <option value="Gastroenterology">Gastroenterology</option>
    <option value="Emergency">Emergency</option>
    <option value="Anesthesiology">Anesthesiology</option>
    <option value="Pulmonary Medicine">Pulmonary Medicine</option>
    <option value="ICU1">ICU</option>
    <option value="Pathology">Pathology</option>
    <option value="Neurology3">Neurology</option>
</select>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Purpose</label>
<textarea  class="form-control col-sm-3" id="colFormLabel" rows="5"  wrap="hard" name="purpose"></textarea>
</div>

<div class="form-group row" >
    <label for="colFormLabel" class="col-sm-2">Picture</label>
    <input type="file" class="col-sm-3" id="exampleFormControlFile1" name="picture" >
</div>


<div class="input_fields_wrap_general">
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2">General Specs</label>
        <textarea class="form-control col-sm-2" id="colFormLabel1" rows="1" placeholder="Name"  wrap="hard" name="gene_name" autocomplete="on"></textarea>
        <textarea class="form-control col-sm-2" id="colFormLabel2" rows="1" placeholder="Value"  wrap="hard" name="gene_value" autocomplete="on"></textarea>
        <a href="#" class="add_field_button_general "><u>Add More Specs</u></a></div>
    </div>
</div>

<br/><br/>


    <!--
<div class="input_fields_wrap_technical">
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2">Technical Specs</label>
        <textarea class="form-control col-sm-2" id="colFormLabel1" rows="1" placeholder="Name"  wrap="hard" name="technical_specs.name" autocomplete="on"></textarea>
        <textarea class="form-control col-sm-2" id="colFormLabel2" rows="1" placeholder="Value"  wrap="hard" name="technical_specs.value" autocomplete="on"></textarea>
        <a href="#" class="add_field_button_technical "><u>Add More Specs</u></a></div>
    </div>
</div>
-->

<br/><br/>
<div class="form-group row">
<button  type="submit" class="btn btn-success btn-block btn-lg col-sm-2"><i class="fas fa-database"></i>Add</button>
</div>

</form>
<body/>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
// function for general specs
<!-- function for general specs -->
	$(document).ready(function() {
    var max_fields      = 100; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap_general"); //Fields wrapper
    var add_button      = $(".add_field_button_general"); //Add button ID
    var x = 1; //initlal text box count
   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
		     //text box increment
            $(wrapper).append(
                '<div class="form-group row"><label for="colFormLabel" class="col-sm-2"></label>' +
                '<textarea class="form-control col-sm-2" id="colFormLabel1" rows="1" placeholder="Name"  wrap="hard" name="gene_name" autocomplete="on"></textarea>' +
                '<textarea class="form-control col-sm-2" id="colFormLabel2" rows="1" placeholder="Value" wrap="hard" name="gene_value" autocomplete="on"></textarea>' +
                '<a href="#" class="remove_field_general ">Remove</a></div>');
            x++;
	  }
    });
    $(wrapper).on("click",".remove_field_general", function(e){ //user click on remove text
		e.preventDefault();
		$(this).parent('div').remove();
		x--;
    })
});

<!-- function for technical specs -->
$(document).ready(function() {
    var max_fields      = 100; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap_technical"); //Fields wrapper
    var add_button      = $(".add_field_button_technical"); //Add button ID
    var x = 1; //initlal text box count
   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
		     //text box increment
            $(wrapper).append(
                '<div class="form-group row"><label for="colFormLabel" class="col-sm-2"></label>' +
                '<textarea class="form-control col-sm-2" id="colFormLabel1" rows="1" placeholder="Name"  wrap="hard" name="tech_name" autocomplete="on"></textarea>' +
                '<textarea class="form-control col-sm-2" id="colFormLabel2" rows="1" placeholder="Value" wrap="hard" name="tech_value" autocomplete="on"></textarea>' +
                '<a href="#" class="remove_field_technical ">Remove</a></div>');
            x++;
	  }
    });
    $(wrapper).on("click",".remove_field_technical", function(e){ //user click on remove text
		e.preventDefault();
		$(this).parent('div').remove();
		x--;
    })
});
</script>




<!--
<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Technical Specs</label>
<select  name="technical_specs" class="col-sm-3" id="id_technical_specs" multiple >
{% for item in tech_data.all %}
<option>{{ item.name }}</option>
{% endfor %}
</select>
<a  id="add_id_technical_specs"
href="http://127.0.0.1:8000/techspecs/addtechnicalspecs/" target="_blank" title="Add another technical_ specs">
    <img src="/media/media/icon-addlink.svg" alt="Add" style="vertical-align: middle"></a>
</div>
-->

<!--
<script>
    var append_increment = 0;
    setInterval(function() {
        $.ajax({
            type: "GET",
            url: {% url 'add_equipments' %},  // URL to your view that serves new info
            data: {'append_increment': append_increment}
        })
        .done(function(response) {
            $('#_appendHere').append(response);
            append_increment += 10;
        });
    }, 1000)
</script>
-->
<!--
<script type="text/javascript">
$(document).ready(function(){
   $("#users").change(function(e){
   	e.preventDefault();
   	var tech_data = $(this').val();
    var gene_data = $('#gene_data').val();
   	var data = {tech_data, gene_data};
   	$.ajax({
   		type : 'GET',
   		url :  "{% url 'add_equipments' %}",
   		data : data,
   		success : function(response){

   		},
   		error : function(response){
   			console.log(response)
   		}
   	})
   })
})
</script>
-->