{% extends 'base.html' %}
{% block content %}

    <div class="site-navbar py-2" style="background: lightgray">

      <div class="search-wrap">
        <div class="container">
          <label>

          </label>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'home' %}" class="js-logo-clone">DBS</a>
            </div>
          </div>
        <div class="main-nav d-none d-lg-block">
                <nav class="site-navigation text-right text-md-center" role="navigation">
                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'search' %}">Search</a></li>
                    <li class="active"><a href="{% url 'all_equipments' %}">Database</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                  </ul>
                </nav>
              </div>

            {% if user.is_authenticated %}
            <div>
            <span class="text" style="font-size: 19px; text-transform: capitalize"> Welcome, {{ request.user }}  |  </span>
            <span><a href="{% url 'logout' %}">Logout</a></span>
            </div>
        {% else %}
            <span><a href="{% url 'login' %}">Sign In</a> | <a href="{% url 'register' %}">Sign Up</a></span>
        {% endif %}

        </div>
      </div>
</div>



    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="{% url 'home' %}" style="color: #1d5987">Home</a> <span class="mx-2 mb-0">/</span>
          <a href="{% url 'all_equipments' %}" style="color: #1d5987">Database</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">{{ device.equipment_name }}</strong>
            </div>
        </div>
      </div>
    </div>


<div class="site-section">
<div class="container">
<h2 class="text-black">
    <b>{{ device.equipment_name }} Comparsion</b>

</h2>
<br/>
<br/>

<div class="row">
  <div class="column" style="background-color:lightblue; border: 2px solid lightblue;border-radius: 15px">
    <form class="text-black" style="padding-left: 50px ">
<!-- here are the image and form for display the equipment details -->


<div class="form-group row ">
<label for="colFormLabel"  style="text-align: center; font-size: 35px" class="col-sm-10 text_form text-black">Old</label>
</div>

<div class="form-group row ">
<label for="colFormLabel" class="col-sm-5 text_form">Version</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.version }}</textarea>
</div>

{% if device.code %}
<div class="form-group row ">
<label for="colFormLabel" class="col-sm-5 text_form">Code</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.code }}</textarea>
</div>
{% endif %}

{% if device.equipment_name %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Name</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard" >{{ device.equipment_name }}</textarea>
</div>
{% endif %}

{% if device.speciality %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Speciality</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.speciality }}</textarea>
</div>
{% endif %}

{% if device.technology_level %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Technology Level</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.technology_level }}</textarea>
</div>
{% endif %}

{% if device.facility_level %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Facility Level </label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.facility_level }}</textarea>
</div>
{% endif %}

{% if device.addition_date %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Addition date</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.addition_date }}</textarea>
</div>
{% endif %}

{% if device.modification_date %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Modification date</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.modification_date }}</textarea>
</div>
{% endif %}

{% if device.general_specs.all  %}
<h2  style="font-weight: bold; font-size: 30px">General Specs</h2>
<hr style="border: 1px solid gray; width: 13cm; margin: 0px "/><br/>
{% endif %}

{% for item in device.general_specs.all %}
    <div class="form-group row">
    <label for="colFormLabel" class="col-sm-5 text_form">{{item.name}}</label>
    <textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ item.value }}</textarea>
    </div>
{% endfor %}
    <br/>

{% if device.technical_specs.all  %}
<h2  style="font-weight: bold; font-size: 30px">Technical specs</h2>
<hr style="border: 1px solid gray; width: 13cm; margin: 0px "/><br/>
{% endif %}
{% for item in device.technical_specs.all %}

    <div class="form-group row">
    <label for="colFormLabel" class="col-sm-5 text_form">{{item.name}}</label>
    <textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ item.value }}</textarea>
    </div>
{% endfor %}

{% if device.picture %}
<h2  style="font-weight: bold; font-size: 30px">Picture</h2>
<hr style="border: 1px solid gray; width: 13cm; margin: 0px "/><br/>
<div class="card1" >
  <img src="{{ device.picture.url }}" class="card-img" alt="Image" style="border-radius: 20px; height: 350px">
  {% if device.purpose %}
    <div class="card-body container" style="background: gray;border-radius: 15px;" >
    <p class=" text_form"  style="color: #0b0b0b; font-size: 18px">{{device.purpose }}</p>
  </div>
  {% endif %}
</div>
{% endif %}

</form>
  </div>

  <div class="column" style="background-color:lightgray; border: 2px solid lightgray;border-radius: 15px;">
    <form class="text-black" style="padding-left: 50px ">


<div class="form-group row ">
<label for="colFormLabel"  style="text-align: center; font-size: 35px;"  class="col-sm-10 text_form">New</label>
</div>

<div class="form-group row ">
<label for="colFormLabel" class="col-sm-5 text_form">Version</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ new_device.version }}</textarea>
</div>

{% if new_device.code %}
<div class="form-group row ">
<label for="colFormLabel" class="col-sm-5 text_form">Code</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ new_device.code }}</textarea>
</div>
{% endif %}

{% if new_device.equipment_name %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Name</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard" >{{ new_device.equipment_name }}</textarea>
</div>
{% endif %}

{% if new_device.speciality %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Speciality</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ new_device.speciality }}</textarea>
</div>
{% endif %}

{% if new_device.technology_level %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Technology Level</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ new_device.technology_level }}</textarea>
</div>
{% endif %}

{% if new_device.facility_level %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Facility Level </label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ new_device.facility_level }}</textarea>
</div>
{% endif %}

{% if new_device.addition_date %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Addition date</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ new_device.addition_date }}</textarea>
</div>
{% endif %}

{% if new_device.modification_date %}
<div class="form-group row">
<label for="colFormLabel" class="col-sm-5 text_form">Modification date</label>
<textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ new_device.modification_date }}</textarea>
</div>
{% endif %}

{% if new_device.general_specs.all  %}
<h2  style="font-weight: bold; font-size: 30px">General Specs</h2>
<hr style="border: 1px solid gray; width: 13cm; margin: 0px "/><br/>
{% endif %}
{% for item in new_device.general_specs.all %}
    <div class="form-group row">
    <label for="colFormLabel" class="col-sm-5 text_form">{{item.name}}</label>
    <textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ item.value }}</textarea>
    </div>
{% endfor %}
    <br/>

{% if new_device.technical_specs.all  %}
<h2  style="font-weight: bold; font-size: 30px">Technical specs</h2>
<hr style="border: 1px solid gray; width: 13cm; margin: 0px "/><br/>
{% endif %}

{% for item in new_device.technical_specs.all %}
    <div class="form-group row">
    <label for="colFormLabel" class="col-sm-5 text_form">{{item.name}}</label>
    <textarea class="form-control col-sm-6 text-black input_form" id="colFormLabel" rows="1" readonly wrap="hard">{{ item.value }}</textarea>
    </div>
{% endfor %}

{% if new_device.picture %}
<h2  style="font-weight: bold; font-size: 30px">Picture</h2>
<hr style="border: 1px solid gray; width: 13cm; margin: 0px "/><br/>
<div class="card1" >
  <img src="{{ new_device.picture.url }}" class="card-img" alt="Image" style="border-radius: 20px; height: 350px">
    {% if new_device.purpose %}
  <div class="card-body container" style="background: gray;border-radius: 15px;" >
    <p class=" text_form"  style="color: #0b0b0b; font-size: 18px">{{new_device.purpose }}</p>
  </div>
    {% endif %}
</div>
{% endif %}

</form>
  </div>
</div>


</div>
</div>



{% endblock %}