{% extends 'base.html' %}
{% block content %}

    <div class="site-navbar py-2" style="background: lightgray">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'home' %}" class="js-logo-clone">DBS</a>
            </div>
          </div>
    <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li class="active"><a href="{% url 'all_equipments' %}">Database</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
              </ul>
            </nav>
          </div>

        {% if user.is_authenticated %}
            <div>
            <span class="text" style="font-size: 19px; text-transform: capitalize"> Welcome, {{ request.user }}  |  </span>
            <span><a href="{% url 'logout' %}">Logout</a></span>
            </div>
        {% else %}
            <span><a href="{% url 'login' %}">Sign In</a> | <a href="{% url 'register' %}">Sign Up</a></span>
        {% endif %}

        </div>
      </div>
</div>

<!-- main page-->

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="{% url 'home' %}" style="color: #1d5987">Home</a> <span class="mx-2 mb-0">/</span>
          <a href="{% url 'all_equipments' %}" style="color: #1d5987">Database</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Delete</strong>
            </div>
        </div>
      </div>
    </div>


<div class="site-section">
<div class="container">
<h2 class="text-black">
    <b>Delete Equipment</b></h2><br/>
    <p class="text-black" >Are you sure you want to delete <b style="font-weight: bold">"{{ device.equipment_name }}"</b></p>
<br/>


<form method="post" action="{% url 'delete' device.id %}">
        {% csrf_token %}
<div class=" col-sm-6">
        <button type="submit" class="button btn" onclick="document.location.href = 'http://127.0.0.1:8000/techspecs/allequipments/'">Confirm</button>
          <button type="button" class="button btn" onclick="document.location.href = 'http://127.0.0.1:8000/techspecs/allequipments/'" >Cancel</button>
</div>
</form>


    </div>
</div>

{% endblock %}