<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Details</title>
</head>
<h1>
   Medical Equipment
</h1>


<form>

<!-- here are the image and form for display the equipment details -->
<div class="card" style="width: 22rem; top: 50px; left: 650px; position: absolute">
  <img src="{{ device.equipment_name.picture.url }}" class="card-img-top" alt="Image">
  <div class="card-body">
    <p class="card-text">{{ device.equipment_name.purpose }}</p>
  </div>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Code</label>
<textarea class="form-control col-sm-3" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.equipment_name.code }}</textarea>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Name</label>
<textarea class="form-control col-sm-3" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.equipment_name.equipment_name }}</textarea>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Speciality</label>
<textarea class="form-control col-sm-3" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.equipment_name.speciality }}</textarea>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Facility Level Of Care</label>
<textarea class="form-control col-sm-3" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.facility_level }}</textarea>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Addition date</label>
<textarea class="form-control col-sm-3" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.addition_date }}</textarea>
</div>

<div class="form-group row">
<label for="colFormLabel" class="col-sm-2">Modification date</label>
<textarea class="form-control col-sm-3" id="colFormLabel" rows="1" readonly wrap="hard">{{ device.modification_date }}</textarea>
</div>

<h2>General Specs</h2>

{% for item in device.equipment_name.general_specs.all %}
    <div class="form-group row">
    <label for="colFormLabel" class="col-sm-2">{{item.name}}</label>
    <textarea class="form-control col-sm-3" id="colFormLabel" rows="1" readonly wrap="hard">{{ item.value }}</textarea>
    </div>
{% endfor %}
    <br/>


<h2>Technical specs</h2>

{% for item in device.equipment_name.technical_specs.all %}

    <div class="form-group row">
    <label for="colFormLabel" class="col-sm-2">{{item.name}}</label>
    <textarea class="form-control col-sm-3" id="colFormLabel" rows="1" readonly wrap="hard">{{ item.value }}</textarea>
    </div>
    <br/>
{% endfor %}

</form>

