<html>
    <head>
        <title>Add/Remove Input Fields Dynamically with jQuery</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  ></script>

<p>
    {% for item in device %}
    {{item.code}}
<br/>
    {% endfor %}
</p>

	<script>
	$(document).ready(function() {
    var max_fields      = 100; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 1; //initlal text box count


   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed

		     //text box increment
            $(wrapper).append(
                '<div class="form-group row"><label for="colFormLabel" class="col-sm-2"></label>' +
                '<textarea class="form-control col-sm-2" id="colFormLabel1" rows="1" placeholder="Name"  wrap="hard" name="name" autocomplete="on"></textarea>' +
                '<textarea class="form-control col-sm-2" id="colFormLabel2" rows="1" placeholder="Value" wrap="hard" name="value" autocomplete="on"></textarea>' +
                '<a href="#" class="remove_field ">Remove</a></div>');
            x++;
	  }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text

		e.preventDefault();
		$(this).parent('div').remove();
		x--;
    })
});

	</script>
	<body>
    <div class="input_fields_wrap">
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2">Technical Specs</label>
            <textarea class="form-control col-sm-2" id="colFormLabel1" rows="1" placeholder="Name"  wrap="hard" name="name" autocomplete="on"></textarea>
            <textarea class="form-control col-sm-2" id="colFormLabel2" rows="1" placeholder="Value"  wrap="hard" name="value" autocomplete="on"></textarea>
            <a href="#" class="add_field_button "><u>Add More Specs</u></a></div>
        </div>
     </div>
</body>
</html>
