<form  method="GET" >
<input type="text"  class="input  col-sm-6" style="text-transform: lowercase;text-align: left" name="q" value="{{request.GET.q}}" placeholder="Search"/>
<input type="submit" style="border-radius: 25px" class="btn btn-black" name="submit" value="Search"/>
</form>

<br/>
<br/>

{% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}
        <br/>
        <h4 class="text-black" style="font-style: italic">Results for <b>"{{ request.GET.q }}"</b> </h4>
        <br/>
        {% for result in results %}
            <br>
        <a href="/techspecs/search/{{ result.id }}" class="text"><u >{{result.equipment_name}}</u></a><br>
        {% endfor %}

    {% else %}
<p class="text-black" style="font-style: italic; font-weight: bold">No search results for this text.</p>
    {% endif %}

{% endif %}