{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Search</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

<form  method="GET" >
Search
<input type="text" name="q" value="{{request.GET.q}}" placeholder="Search"/>
<input type="submit" name="submit" value="Search"/>
</form>

<!-- forrrrrrrrrr user if enter 'all' in the search -->
{% for result in all %}
<a href="/techspecs/search/{{ result.report_id }}" target="_blank"><u>{{result.equipment_name}}</u></a>
    <br/>
{% endfor %}

<!-- forrrrrrrrrr user if enter any text in the search -->

{% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}
        <h1>Results for <b>{{ request.GET.q }}</b></h1>
        <br/><br/>
        {% for result in results %}
        <a href="/techspecs/search/{{ result.report_id }}" target="_blank"><u>{{result.equipment_name}}</u></a>
        {% endfor %}

    {% else %}
No search results for this text.
    {% endif %}

{% endif %}


      </div>
    </div>



{% endblock %}

